<html>
<head>
    <title>PassMan</title>

    {% load staticfiles %}
    <link href="{% static 'home/styles.css' %}" rel="stylesheet" type="text/css" />

</head>
<body>

<table border="1" class="main">
    <tr>

	<td class="logo">{% block Logo %}<img width=100% src="{% static 'home/pm_logo.png' %}">{% endblock %}</td>
	<td>{% block top_info %}Top Info here{% endblock %}</td>
	<td class="config">{% block config %}Config{% endblock %}</td>
    </tr><tr>
	<td class="search">{% block search %}Search{% endblock %}</td>
	<td class="top_menu">
	
<table border="1">
    <tr>
	<td class="menuitem"><a class="menu" href="/">Home</a></td>
	<td class="menuitem"><a class="menu" href="/acct">Accounts</a></td>
	<td class="menuitem"><a class="menu" href="/people/person">People</a></td>
	<td class="menuitem"><a class="menu" href="/people/address">Address</a></td>
	<td class="menuitem"><a class="menu" href="/vehicle">Vehicles</a></td>
    </tr>
</table>
		</td>
	<td class="right_thin">{% block reserved %}Reserved{% endblock %}</td>
    </tr><tr>
	<td class="item_list">{% block navigate_menu %}{% endblock %}</td>
{#	<td class="main_info" align="center"><br>{% block main_info %}Main Info here{% endblock %}</td> #}
	<td align="center"><br>{% block main_info %}Main Info here{% endblock %}</td>
	<td class "right_pan">{% block right_pan %}Right side{% endblock %}</td>
    </tr><tr>
	<td class="copyright">{% block copyright %}Copyright{% endblock %}</td>
	<td>{% block bottom %}Bottom{% endblock %}</td>
	<td>{% block empty_corner %}Empty Corner{% endblock %}</td>
    </tr>
</table>

</body>
</html>

