
{% extends "vehicle/vehicle_base.html" %}

{% block main_info %}

<table border="1">
    <tr>
	<td class="small_header">Car</td>
	<td class="small_header">License Plate</td>
	<td class="small_header">Year</td>
	<td class="small_header">VIN</td>
	<td class="small_header">Purchase Date</td>
	<td class="small_header">Non operational</td>
	<td class="small_header">Retired</td>
    </tr>



{% for car in cars %}
    <tr>
	<td><a href="edit/{{ car.id }}">{{ car.v_make }} {{ car.v_model }}</a></td>
	<td>{{ car.license_plate }}</td>
	<td>{{ car.v_year }}</td>
	<td>{{ car.vin }}</td>
	<td>{{ car.purchase_date }}</td>
	<td>{{ car.nonoperational_date }}</td>
	<td>{{ car.retired }}</td>
    </tr>
{% endfor %}
</table>
<br>

{% endblock %}
