{% extends "passman/acct_base.html" %}


{% block main_info %}

<form method="post">
{% csrf_token %}

<table border="1">
    <tr>
	<td>

<table border="1">
    <tr>
	<td>Account Name</td>
	<td>{{ account.acct_name }}</td>
    </tr><tr>
	<td>Login</td>
	<td>{{ account.login }}</td>
    </tr><tr>
	<td>Active</td>
	<td>{{ account.active }}</td>
    </tr><tr>
	<td>URL</td>
	<td><a href="{{ account.url }}" target="_blanc">{{ account.url }}</a></td>
    </tr><!--<tr>
	<td>Password</td>
	<td align=center bgcolor=#CCCCCC><font color=#CCCCCC>{{ account.passwd }}</font></td>
    </tr><tr>
	<td align="center"><a href="/acct/edit/{{ account.id }}">Edit</a></td>
	<td align="center"><a href="/acct/attributes/{{ account.id }}">Attributes</a></td>
    </tr>-->
</table>

	</td><td>

<table border="1">
    <tr>
	<td>Attribute</td>
	<td>Value</td>
    </tr>
{% for attr in aas %}
	<tr>
	    <td>{{ attr.attr }}</td>
	    <td>{{ attr.acct_value }}</td>
	    <td><a href="account/{{ account.id }}/remove_attr/{{ attr.id }}">Remove</a></td>
	</tr>


{% endfor %}
{% include "home/hidden_divider.html" %}




{{ form.as_table }}
{% include "home/hidden_divider.html" %}
    <tr>
	<td colspan="2" align="center"><input type="submit" value="Add"></td>
    </tr>
</table>
</form>

	</td>
    </td>
</table>


{% endblock %}
