<br>
<table border="0">
    <tr>
	<td><a class="navigate_menu" href="/acct/payments">See Payments only</a></td>
    </tr><tr>
	<td><a class="navigate_menu" href="/acct/add_account">Add Account</a></td>
    </tr><tr>
	<td><a class="navigate_menu" href="/acct/manage_attributes">Manage Attributes</a></td>
    </tr><tr>
	<td><a class="navigate_menu" href="/acct/manage_categories">Manage Categories</a></td>
    </tr><tr>
	<td><a class="navigate_menu" href="/acct/all">See All Accounts</a></td>
    </tr>
</table>
